body {
  margin: 0;
  padding: 0;
}

#map {
  margin: 4px;
  width: 96vw;
  height: 500px;
}

.search-bar {
    position: fixed;
    top: 50px;
    left: 35px;
    z-index: 3;
}

.search-bar form input {
    width: 192px;
    height: 30px;
}
